<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>home</title>
</head>

<body>

    <nav class="navbar">
        <div class="nav">

            <div class="logo">
                <img src="/templates/assets/logo.png" alt="logo">
            </div>
            <div class="other">
                <button><a href="/">HOME</a></button>
                <button><a href="/login">LOGIN</a></button>
            </div>

        </div>


    </nav>
    <div class="back">

    </div>

</body>

</html>