<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=LOGIN, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Document</title>
</head>

<body style="background-color: rgb(41, 41, 129);">
    <div class="main">

        <p>Login now!</p>
        <form>
            <div class="input">

                <div>
                    <p>Username</p><input type="text" placeholder="enter your name"></div>
                <div>
                    <p>Password</p><input type="password" placeholder="password"></div>

                <button>login</button>
            </div>
        </form>

        <a>forgot password?</a>
        <p>Do not have an account? <a href="/signup">signup</a></p>
    </div>
</body>

</html>